@media screen and (min-width: 428px) and (max-width: 767px) {
  .container {
    width: 428px;
  }
 

  .our-stuff-section {
    padding-top: 96px;
  }
  .customers-list {
    width: calc((100% - 16px) / 2);

    /* width: calc((100%-120px) / 6); */
    height: 88px;
  }
  .list-skills-item:not(:last-child) {
    margin-bottom: 72px;
  }
}

