@media screen and (min-width: 480px) {
    .container {
      width: 428px;
    }
    .our-stuff-section {
      padding-top: 96px;
    }
    .customers-list {
      width: calc((100% - 16px) / 2);
    
    
      /* width: calc((100%-120px) / 6); */
      height: 88px;
    }
    .li-mob {
      /* margin-bottom: 72px; */
    }
  }