@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
  .first-headlines {
    font-weight: 600;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    margin-bottom: 48px;
    color: var(--white-color);
    max-width: 494px;
    margin-left: auto;
    margin-right: auto;
  }
  .our-stuff-section {
    padding-bottom: 104px;
  }
  .our-team {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    row-gap: 64px;
  }
  .li-mob {
    width: calc((100% - 24px) / 2);
    /* gap: 24px; */
    /* row-gap: 64px; */
    margin-bottom: 0;
  }
}
.customers-list {
  width: calc((100% - 16px) / 2);
  height: 88px;
}
